<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net48" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net48" />
  <package id="Selenium.Support" version="4.0.0-alpha07" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha07" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="89.0.4389.2300-beta" targetFramework="net48" />
</packages>